/* 
with the help of: 
frame: https://codepen.io/Kaiyuan/pen/DjBRbV and https://codepen.io/jdhaliwal/pen/wvKpBje 
label: https://codepen.io/sdthornton/pen/wBZdXq and https://codepen.io/codingtuting/pen/XWrBgQz 
*/

html,
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	touch-action: none;
}

canvas {
	margin: auto;
	display: block;
	width: 700px;
	height: 700px;
}

/* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
} */

body {
	-webkit-text-size-adjust: none;
	color: #1f1f1f;
	font-size: 0.5em;
	font-family: "Helvetica Neue", Ubuntu, "WenQuanYi Micro Hei", Helvetica, "Hiragino Sans GB", "Microsoft JhengHei", "PMingLiU", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	line-height: 1em;
	background-color: #eee;
}

#Frames,
.Frame {
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#Frames {
	/* old */
	/* margin: 2.5% 0; */
	/* new */
	margin: auto;
	/* old */
	/* width: 100%; */
	/* new */
	width: 800px;
	height: 900px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.Frame {
	display: inline-block;
	border-width: 20px;
	border-style: solid;
	/* border-color: #2F2D2D #434040 #4F4C4C #434040; */
	border-color: #f3f3f3 #e1e1e1 #ffffff #e1e1e1;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, .6), 0 5px 2px rgba(0, 0, 0, .1), 0 10px 20px rgba(0, 0, 0, .8);
	position: relative;
	overflow: hidden;
}


.Frame #badAssCanvas {
	/* border-width: 2px; */
	border-width: 0.5px;
	border-style: solid;
}


#Label {
	position: fixed;
	bottom: 100px;
	right: 75px;
	width: 300px;

	background: #fff;
	border-radius: 2px;
	display: inline-block;

	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

#Label .label-content {
	padding: 2em;
	font-family: 'Open Sans', sans-serif;
}


#Label h1 {
	font-size: 2em;
	/* margin-top: 0.67em; */
	margin-bottom: 1.2em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

#Label p {
	font-size: 1.5em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: normal;
	line-height: 1em;
}


/* FrameB is with passepartout */
.FrameB {
	display: inline-block;
	padding: 60px;
	border-width: 20px;
	border-style: solid;
	border-color: #2F2D2D #434040 #4F4C4C #434040;
	background: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5E4DF), to(#CDCDC6));
	background-image: -webkit-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: -moz-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: -o-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: linear-gradient(#E5E4DF, #CDCDC6);
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, .6), 0 5px 2px rgba(0, 0, 0, .1), 0 10px 20px rgba(0, 0, 0, .8);
	position: relative;
	overflow: hidden;
}

/* glowing reflection */
.FrameB::before {
	content: "";
	position: absolute;
	top: -175px;
	right: -20%;
	width: 400px;
	height: 400px;
	transform: rotateZ(-40deg);
	-webkit-transform: rotateZ(-40deg);
	-moz-transform: rotateZ(-40deg);
	-o-transform: rotateZ(-40deg);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, .4)), to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
	background-image: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
}

.FrameB #badAssCanvas {
	border-width: 2px;
	border-style: solid;
	/* border color of painting */
	border-color: #BBBAB4 #C7C7BF #E5E4DF #C7C7BF;
	box-shadow: 0 -1px 1px rgba(0, 0, 0, .1), 0 1px 1px 1px rgba(255, 255, 255, .7);
}

/* new */
#badAssCanvas {
	object-fit: contain;
	height: 100% !important;
	width: 100% !important;
}


#fulllscreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#fulllscreen canvas {
	object-fit: contain;
	max-height: 100%;
	max-width: 100%;
}